html{
    background-color: #fff;
}

*{
    color: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #232323;
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    max-width: 450px;
    margin: 170px auto 0 auto;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #f5f5f5;
}

#container{
    width: 60%;
    /* max-width: 100%; */
    max-width: 1200px;
    /* max-width: 1000px; */
    margin: 55px auto 0px auto;
}

#bio{
    margin-left: 25px;
}

.post{
    width: 700px;
    margin: 40px 0px;
    padding: 40px;
    background-color: #f9f9f9;
    line-height: 22px;
}

.post h1{
    font-size: 25px;
    font-weight: 300;
    margin: 0px 0px 25px 0px;
}

.post h2{
    font-size: 15px;
    font-weight: 300;
    margin: 0px;
    font-style: normal;
    display: inline-block;
}

.post p{
    margin: 5px 0px;
    padding: 0px;
}

.post ul{
    list-style-type: lower-greek;
}

.post li{
    margin: 10px 0px;
}

.post li > p:before{
    content: '—';
    margin-right: 7px;
    margin-left: 5px;
}

.post h2:hover{
    color: #777777;
}

.link{
    width: 15px;
    height: 15px;
    margin-left: 4px;
    margin-bottom: -3px;
    opacity: 0.7;
}

