a {
    text-decoration: none;
    color: #232323;
}

body {
    background-color: #ffffff;
    color: #232323;
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100%;
    max-width: 700px;
    margin: 170px auto 0 auto;
    font-size: 80px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f9f9f9;
    font-family: "EB Garamond", serif;
}

#container {
    width: 70%;
    font-size: 22px;
    max-width: 700px;
    font-family: 'EB Garamond', serif;
    margin: 55px auto 0px auto;
}

#posts li{
    list-style-type: none;
}

#posts li:before{
    content: '—';
    margin-right: 7px;
    margin-left: 5px;
}

#posts ul{
    padding: 0px;
    margin: 15px 25px;
}

#container a:hover{
    text-decoration: underline;
}

#bio {
    margin-bottom: 25px;
}

#footer {
    color: #777777;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}